* {
    background-color: rgb(22, 22, 22);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.40rem;
    color: white;
    position: relative;
    text-align: center;
    top: 14.375rem;
    z-index: 1;
}

.container-area {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   width: 100vw;
}

.pai {
    height: 70vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;

}

button {
    padding: 1.25rem  2.5rem;
    cursor: pointer;
    background-color: rgb(41, 144, 158);
    border: 1px solid rgb(41, 144, 158);
    border-radius: 0.5;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.sim button:hover {
    background-color: rgb(107, 44, 44);
    padding: 1.563rem 3.125rem;
    border: 1px solid rgb(107, 44, 44);
    border-radius: 0.5rem;
}

.position-absolute {
    position: absolute ;
    z-index: 2;
    
}

.clicou-pai {
    height: 70vh;
    width: 60vw;
    background-image: url(img62a0ea4bb0d442.02881744.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    position: relative;
    z-index: 3;
}

.clicou-h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    text-align: center;
    position: relative;
    top: 12.938rem;
    z-index: 4;
}

.display-none {
    display: none;
}

